// Fonts
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic");

// Variables
@import "/src/styles/variables/variables.scss";

// Utils
@import "/src/styles/utils.scss";

// USER INTERFACE
@import "/src/styles/ui-kit.scss";
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1220px;
  margin-inline: auto;
}
