:root {
  --orange: rgb(255, 90, 48);

  //   ---------------colors-----------------
  --gray200: rgb(244, 245, 247);
  --gray700: rgb(120, 122, 128);
  --gray800: rgb(66, 69, 81);

  --white: rgb(255, 255, 255);
}
